@model RainbowPlant.Models.Plant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDelivered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
